html{
    background-color: rgb(112, 194, 221);
}

.header{
    position: absolute;
width: 608px;
height: 100px;
left: 409px;
top: 90px;

background: #FFFFFF;
border: 4px solid #A52A2A;
border-radius: 4px;

font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 56px;
display: inline;

color:black;

padding: 30px; 
}


.paper{
    position: absolute;
width: 1191px;
height: 959px;
left: 80px;
top: 1045px;

background: #FFFFFF;
border: 8px solid #D2B48C;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

font-family: 'Crimson Text', serif;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
padding: 40px;

color: #A52A2A;
}

.button{
    position: absolute;
    width: 316px;
    height: 82px;
    left: 588px;
    top: 2183px;
    
    background: #F2F2F2;
    border: 3px solid #FFD700;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #592D06;
}

#case{
   padding-left:651px;   
}

#go{
    font-family:'Roboto', sans-serif; 
    font-size:50px;
    color: #D2B48C;  
}
   
    
 #Me {
     display: block; 
     margin-left: auto;
     margin-right: auto;
     width: 40%;
 }  
a{
    text-decoration: none;
    color: black;
}