html{
    background-color: rgb(112, 194, 221);
}

.header{
    position: absolute;
width: 608px;
height: 100px;
left: 379px;
top: 90px;

background: #FFFFFF;
border: 4px solid #A52A2A;
border-radius: 4px;

font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 10px;
display: inline;

color:black;

padding: 30px; 
}


.paper{
    position: absolute;
width: 1175px;
height: 959px;
left: 85px;
top: 1045px;

background: #FFFFFF;
border: 8px solid #D2B48C;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

font-family: 'Crimson Text', serif;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
padding: 20px;

color: #A52A2A;
}

.button{
    position: absolute;
    width: 316px;
    height: 82px;
    left: 318px;
    top: 2183px;
    
    background: rgb(167, 165, 165);
    border: 6px solid gold;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 42px;
    
    color: #592D06;
   margin-bottom:60px; 
   
}

#case{
   padding-left:659px;
   height:275px; 
   width: auto;   
}

#case2{
    padding-left:45px;
    height:275px; 
    width: auto;
}

#go{
    font-family:'Roboto', sans-serif; 
    font-size:50px;
    color: #D2B48C;
    text-shadow: 3px 3px rgb(14, 13, 13);  
}
   
    
 #Me {
     display: block; 
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }  
a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;  
}
.button2{
    position: absolute;
    width: 316px;
    height: 82px;
    left: 718px;
    top: 2183px;
    
    background: rgb(167, 165, 165);
    border: 6px solid gold;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 42px;
    
    color: rgb(159, 212, 34);
   margin-bottom:60px;
}