
/* page1 */

.name{
    position: absolute;
width: 617px;
height: 96px;
top: 126px;

font-family: 'Times New Roman', Times, serif;
font-weight: 900;
font-size: 64px;


color: #000000;
}

.box1{
    position: absolute;
    width: 660px;
    height: 268px;
    top: 260px;
    
    border: 2px solid #000000;
    box-sizing: border-box;

    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 20px;
    
   
    
    color: #000000;
    
    
}

.brutalist{
    position: absolute;
    width: 653px;
    height: 140px;
    top: 670px;
    
    background: #FFFFFF;
    border: 7px solid #000000;
    box-sizing: border-box;  

    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 70px;


color: #000000;

}

/* Page2 */
.box2{
    position: absolute;
    width: 723px;
    height: 373px;
    top: 222px;
    
    background: #1150F1; 

    font-family: 'Nova Flat', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.6;


color: #FFFFFF;
}

.flat{
    position: absolute;
    width: 726px;
    height: 141px;
    top: 612px;
    
    background: rgb(24, 250, 4);
    
    font-family: 'Nova Flat', cursive;
    font-size: 64px;
    color: #FFFFFF;    
}

/* page3 */

.box3{
    position: absolute;
width: 961px;
height: 376px;
top: 222px;

background: #F3043D;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
border-radius: 5px;

font-family: 'Staatliches', cursive;
font-weight: normal;
font-size: 25px;



color: #FFFFFF;

}

.material{
    position: absolute;
    width: 963px;
    height: 186px;
    top: 670px;
    
    background: #E62727;
    
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    font-size: 64px;


color: #FFFFFF;
}